
*{ box-sizing: border-box;}

body {
      background-color: rgb(65, 65, 65);
      font-family: 'Labrada', serif;
      color: aliceblue; }

      a:link {color: rgb(175, 194, 245);
            background-color: transparent;
            text-decoration: none;}
          
      a:visited {color: rgb(238, 147, 162);
                 background-color: transparent;
                 text-decoration: none;}
      
      a:hover {color: rgba(247, 183, 9, 0.795);
               background-color: transparent;
               text-decoration: none;}
      
      a:active {color: rgba(255, 255, 0, 0.699);
                background-color: transparent;
                text-decoration: none;}
      

#Minibiografía {font-family: 'Josefin Sans', sans-serif;}

.grid-container-bio {display: grid;
                     grid-template-columns: auto auto auto auto auto auto;
                     grid-template-rows: 20% 20% 20% 20% 20%;
                     gap: 01px;}

      #b {color: rgb(121, 27, 64);
          background-color: transparent;
          text-decoration: none;}

.row {padding: 20px 1px 20px 1px;}
      
            h5 {grid-column: 1 / span 1;
                float: left;
                padding: 20px 10px 20px 10px;}

            #bio {grid-column: 2 / span 3;
                  float: center;
                  padding: 10px;}
                       
            #img {grid-column: 5 / span 6;
                  float: right;
                  width: 450px;
                  height: 253px;
                  padding: 10px;}
                         
.grid-container-arriba {display: grid;
                        grid-template-columns: auto auto auto auto auto auto;
                        /**background-image: url ('https://image.freepik.com/foto-gratis/fondo-textura-concreto-textura-grunge_7189-493.jpg');
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: cover;*/
                        background-color: rgb(180, 171, 158);
                        color: rgba(36, 17, 2, 0.925); }    

      header {font-size:150%;
              float: center;
              }

      menu {grid-column-start: 1;
            grid-column-end: 2;
            float: left;}

      main {grid-column-start: 2;
            grid-column-end: 6;
            float: center;}

      pre {font-family: 'Mynerve', cursive;}

      #datos  {float: right;}

.grid-container-abajo {display: grid;
                       grid-template-columns: 50% 50%;}    

      #work {grid-column-start: 1;
             grid-column-end: 2;
             float: left;
             padding: 15px;}

            #Contacto {float: left;
                       border: 1px solid #969494;
                       text-align: left;
                       padding: 8px;}
                  
                  h4 {color: rgb(61, 11, 29);
                      font-size: 20px;
                      font-weight: bold;
                      margin: 15px;}
            
                  label {color: rgb(224, 216, 219);
                         font-size: 15px;
                         font-weight: bold;}

                  hr {border-style: none;}                   
                  

      #mitad {grid-column-start: 2;
              grid-column-end: 3;
              float: right;
              padding: 15px;}




